@charset "UTF-8";
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eb-garamond-v19-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/eb-garamond-v19-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/eb-garamond-v19-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/eb-garamond-v19-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/eb-garamond-v19-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/eb-garamond-v19-latin-regular.svg#EBGaramond") format("svg"); /* Legacy iOS */
}

body {
  font-family: "EB Garamond", monospace;
  font-size: 1.4em;
  opacity: 0.9;
  color: white;
  background-color: #121212;
}

.nav {
  margin-top: 2%;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: hotpink;
}

a {
  color: hotpink;
  opacity: 0.9;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  opacity: 1.0;
  text-decoration: underline;
}

#title {
  margin-top: 2%;
  margin-bottom: 5%;
  color: hotpink;
  font-size: 3.6em;
  font-weight: bold;
  opacity: 0.9;
}

footer {
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.75;
}
